@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header h1 {

} */

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    /* background: #0f172a;
    color: white; */
    /* justify-content: center; */
    padding: 30px;
}

.list-item {
    align-items: center;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #949494;
    color: black;
}